.neat-report #person,
.neat-report #report {
	padding: 1em;
}

.neat-report h2 {
	border-top: 1px solid #ccc;
	font-size: 1.4em;
	color: black;
	padding-top: 0.2em;
}

.neat-report .report_optional {
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.neat-report .report_row {
	margin: 1em auto;
	width: 80%;
}

.neat-report h4 {
	float: left;
	width: 196px;
	text-align: right;
	font-weight: normal;
}

.neat-report .report_row h4 {
	margin-right: 1em;
}

.neat-report h4 + input,
.neat-report h4 + textarea,
.neat-report h4 + select {
	padding: 0.5em;
	width: 60%;
}

.neat-report h4 + .form_value {
	display: inline-block;
	width: 60%;
	padding: 0;
}

.neat-report .form_value input,
.neat-report .form_value select {
	padding: 0.5em;
}

.neat-report #incident_date {
	vertical-align: middle;
}
.neat-report .ui-datepicker-trigger {
	vertical-align: middle;
	height: 33px;
	-ms-interpolation-mode: cubic;
}

.neat-report .example {
	color: #a1a1a1;
	display: block;
	font-weight: normal;
	font-size: 0.75em;
	margin-left: 210px;
	padding: 0.5em 0;
}

.neat-report hr {
	border: none;
	border-top: 1px solid #ccc;
	clear: both;
	margin: 1.5em auto;
	width: 80%;
}

.neat-report .report_location {
	margin: 0 auto;
	width: 65%;
}

.neat-report .report_map {
	width: 99%;
}

.neat-report .scalable input {
	padding: 0.5em;
	width: 90%;
}

.neat-report .report_row.submit {
	text-align: center;
}

.neat-report .btn_submit {
	display: inline-block;
	font-size: 1.2em;
	text-transform: uppercase;
}

.neat-report #custom_field_row_7 label,
.neat-report #custom_field_row_8 label {
	font-size: 1.2em;
}

.neat-report #custom_field_row_7 span,
.neat-report #custom_field_row_8 span {
	line-height: 36px;
}

.neat-report .datetime-edit img {
	margin-left: 0.5em;
}

.neat-report span.required {
	display: inline-block;
	color: red;
	margin-right: 0.3em;
}